{% extends "base.html" %}
{% block content %}
<div class="content-title">
{% block content_title %}
{% endblock %}
</div>
<div class="posts">
  {% for article in articles_page.object_list %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
    </h1>
    <span class="post-date">{{ article.locale_date }}</span>

    {{ article.content }}
  </div>
  {% endfor %}
</div>
{% include 'pagination.html' %}
{% endblock content %}
