<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <div class="profile">
      <img src="{{ SITEURL }}/theme/img/profile.png"/>
    </div>
  </div>

  <nav class="sidebar-nav">
  <a class="sidebar-nav-item" href="{{ SITEURL }}/">All</a>

  {% for category, articles in categories %}
      <a class="sidebar-nav-item" href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a>
  {% endfor %}

  {% for title, href in LINKS %}
  <a class="sidebar-nav-item" href="{{ href }}">{{ title }}</a>
  {% endfor %}
  </nav>

  <div class="sidebar-item">
    <p>
    <a href="https://twitter.com/{{ TWITTER_ACCOUNT }}">&copy; @{{ TWITTER_ACCOUNT }}</a> 2017
    </p>
    <p class="tiny-note">
      <a class="muted" href="https://github.com/thomaswilley/pelicanyan">pelicanyan v0.1</a>
    </p>
  </div>
</div>
